In [1]:
import pandas as pd 
sales = pd.read_excel('pythonexcel.xlsx',sheet_name = 'sales')
states = pd.read_excel('pythonexcel.xlsx',sheet_name = 'states')
print(sales.head())

Product  Sales       Date           City
0   Bananas    121 2019-06-13        Atlanta
1   Bananas    236 2019-10-20        Atlanta
2    Apples    981 2019-03-12        Atlanta
3     Bread    996 2019-07-28  New York City
4  Brocolli    790 2019-10-22  New York City

In [2]:
sales['MoreThan500'] = ['Yes' if x > 500 else 'No' for x in sales['Sales']]

In [3]:
print(sales)

Product  Sales       Date           City MoreThan500
0        Bananas    121 2019-06-13        Atlanta          No
1        Bananas    236 2019-10-20        Atlanta          No
2         Apples    981 2019-03-12        Atlanta         Yes
3          Bread    996 2019-07-28  New York City         Yes
4       Brocolli    790 2019-10-22  New York City         Yes
5         Apples    762 2019-11-03        Toronto         Yes
6        Bananas    870 2019-11-18  New York City         Yes
7        Bananas    852 2019-03-21        Atlanta         Yes
8         Apples    427 2019-05-11        Toronto          No
9          Bread    576 2019-09-14        Atlanta         Yes
10       Bananas    472 2019-04-06  New York City          No
11       Oranges    864 2019-06-02        Atlanta         Yes
12  Strawberries    923 2019-03-30        Toronto         Yes
13      Brocolli    925 2019-06-09       Portland         Yes
14       Bananas    281 2019-04-23       Portland          No
15         Bread    809 2019-10-20       Portland         Yes
16       Bananas    916 2019-12-08        Toronto         Yes
17      Brocolli    705 2019-01-17  New York City         Yes
18       Bananas    710 2019-10-14  New York City         Yes
19  Strawberries    486 2019-03-16        Atlanta          No
20      Brocolli    791 2019-01-02        Atlanta         Yes
21  Strawberries    784 2019-04-02       Portland         Yes
22       Oranges    148 2019-08-10        Atlanta          No
23  Strawberries    126 2019-02-18        Atlanta          No
24         Bread    192 2019-02-07  New York City          No
25        Apples    574 2019-03-02  New York City         Yes
26       Oranges    113 2019-03-23        Toronto          No
27        Apples    733 2019-12-13        Toronto         Yes
28         Bread    587 2019-09-28  New York City         Yes
29      Brocolli    867 2019-03-29        Atlanta         Yes
30       Bananas    447 2019-04-25        Atlanta          No
31         Bread    694 2019-09-09  New York City         Yes
32  Strawberries    420 2019-03-18       Portland          No
33       Bananas    695 2019-12-02        Toronto         Yes
34      Brocolli    447 2019-06-20        Atlanta          No
35       Oranges    839 2019-04-06       Portland         Yes
36      Brocolli    672 2019-05-06        Toronto         Yes
37         Bread    984 2019-05-04        Toronto         Yes
38  Strawberries    849 2019-09-24        Toronto         Yes
39         Bread    224 2019-11-19        Atlanta          No
40        Apples    566 2019-06-01        Toronto         Yes
41        Apples    127 2019-02-26        Atlanta          No
42       Oranges    173 2019-01-10       Portland          No
43      Brocolli    512 2019-11-15  New York City         Yes
44         Bread    783 2019-05-23        Toronto         Yes
45        Apples    489 2019-10-12        Toronto          No
46         Bread    904 2019-10-28  New York City         Yes
47       Bananas    243 2019-08-12  New York City          No
48  Strawberries    349 2019-04-23        Atlanta          No
49      Brocolli    659 2019-06-26        Toronto         Yes

In [4]:
sales = pd.merge(sales, states, how='left', on='City')
print(sales.head())

Product  Sales       Date           City MoreThan500     State
0   Bananas    121 2019-06-13        Atlanta          No   Georgia
1   Bananas    236 2019-10-20        Atlanta          No   Georgia
2    Apples    981 2019-03-12        Atlanta         Yes   Georgia
3     Bread    996 2019-07-28  New York City         Yes  New York
4  Brocolli    790 2019-10-22  New York City         Yes  New York

In [5]:
print(states.head())

City     State
0        Atlanta   Georgia
1  New York City  New York
2        Toronto   Ontario
3       Portland    Oregon

In [6]:
sales.pivot_table(index = 'City', values = 'Sales', aggfunc='sum')

               Sales
City
Atlanta         7642
New York City   8249
Portland        4231
Toronto         9571